##### Dirs and files for ignoring #####


##### dirs #####
Distr/
!Distr/

Distr/*
!Distr/Debug/
!Distr/Release/

Distr/Debug/*
Distr/Release/*
!Distr/Debug/Langs/
!Distr/Release/Langs/

Temp/
Ui/


##### files #####
TODO.txt
*.pro.user
*.autosave
Makefile*
*.pdb
*.jpg
*.png
*.aps
object_script.XXXDb.Debug
object_script.XXXDb.Release
