##### Dirs and files for ignoring #####


##### dirs #####
Distr/
!Distr/

Distr/*
!Distr/Debug/
!Distr/Release/

Distr/Debug/*
Distr/Release/*
!Distr/Debug/Langs/
!Distr/Release/Langs/

Temp/
Ui/

Widgets/CDbImage/debug
Widgets/CDbImage/release

##### files #####
todo.txt
*.pro.user
*.autosave
Makefile*
*.pdb
*.jpg
*.aps
object_script.XXXDb.Debug
object_script.XXXDb.Release
*.qm
*.so
*.dll
