##### Dirs and files for ignoring #####


##### dirs #####
debug
release
Debug
Release
GeneratedFiles


##### files #####
TODO.txt
base.db
image.png
Makefile
Makefile.Debug
Makefile.Release
.project
.cproject
*.sdf
*.pdb
*.ncb
*.suo
*.user
*.opensdf
*.exe
*.ilk

