[submodule "QtLib"]
	path = QtLib
	url = git@bitbucket.org:skynowa/qtlib.git
[submodule "Widgets/CDbImage"]
	path = Widgets/CDbImage
	url = git@bitbucket.org:skynowa/cdbimage.git
[submodule "xLib"]
	path = xLib
	url = git@bitbucket.org:skynowa/xlib.git
